.card{

height:92px;

background:rgba(255,255,255,.78);

backdrop-filter:blur(18px);

border-radius:22px;

display:flex;

align-items:center;

justify-content:center;

position:relative;

font-size:18px;

font-weight:600;

color:#65575d;

transition:.35s;

box-shadow:
0 15px 30px rgba(220,170,188,.18);

border:1px solid rgba(255,255,255,.9);

}

.card:hover{

transform:translateY(-6px);

background:#fff;

box-shadow:

0 22px 40px rgba(221,145,170,.28);

}

.heart{

position:absolute;

top:12px;

right:15px;

font-size:18px;

color:#de89a6;

transition:.35s;

}

.card:hover .heart{

transform:scale(1.25);

}