.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

/* планшет */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* телефон */
@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}